---
layout: default
title: Projects
---

{% for project in site.projects %}
  {% assign i = forloop.index | modulo: 2 %}
  {% capture img %} 
    <img class='banner' src='{{ project.image_path }}'>
  {% endcapture %}

  <div class='project'>
    {% if i != 0 %} {{ img }} {% endif %}
    <div class='project-details'>
      <h2><a href='{{ project.url }}'>{{ project.name }}</a></h2>
      <p>{{ project.description }}</p>
      {% for badge in project.badges %}
        <img src='{{ badge }}'>
      {% endfor %}
      </div>
    {% if i == 0 %} {{ img }} {% endif %}
  </div>
{% endfor %}
