:root {
	--background: rgb(247,252,252);
  --grey: rgb(31,57,59);
	--blue: rgb(177,212,215);
  --dark-blue: rgb(99,182,185);
  --pink: rgb(243,177,169);
}

::-moz-selection {
  background: var(--blue);
}

::selection {
  background: var(--blue);
}

body {
  background-color: var(--background);
  color: var(--grey);
  display: grid;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 25px auto 0 auto;
  width: 600px;
}

/* Header */
header {
  margin-bottom: 50px;
}

header h1 a {
  font-family: 'Roboto', cursive;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  float: left;
}

/* Header nav bar */
nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  float: right;
  padding: 0 4px;
}

nav li a {
  font-size: 16px;
}

nav li a:hover, nav li.active a {
  border-bottom: 4px solid var(--blue);
  line-height: 8px;
  text-decoration: none;
}

/* Main content */
main {
  clear: both;
}

/* Home page */
.home {
  margin: 0 -50px 25px -50px;
  display: flex;
  align-items: center;
}

.home h1 {
  font-size: 44px;
  margin: 0 35px 0 0;
  border-bottom: 8px solid var(--blue);
  line-height: 26px;
  display: inline-block;
}

.greeting {
  white-space: nowrap;
}

/* Posts list*/
article {
  border-bottom: 1px solid var(--grey);
}

article:last-child {
  border-bottom: none
}

article h1 a:hover {
  text-decoration: underline;
}

.date, time {
  font-size: 14px;
  font-style: italic;
  margin: 0px;
}

article p {
  font-size: 15px;
}

/* Post */
.post-content a {
  color: var(--dark-blue);
}

.highlight {
  background-color: var(--grey);
  color: var(--background);
  margin: 0px;
  padding: 20px 22px;
  border-radius: 8px;
}

pre.highlight {
  padding: 0;
}

/* Footer */
footer {
  border-top: 1px solid var(--grey);
  padding-top: 8px;
}

footer small {
  margin: 0 auto;
}

h1, h2, h3, .post-meta {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

a {
  color: var(--grey);
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div, small, article, h1, h2, h3, .date, 
nav li {
  display: block;
}

/* Mobile */
@media screen and (max-width: 700px) {  
  .container, .greeting {
    width: 95%;
  }

  .home {
    margin: 18px 0;
    flex-wrap: wrap;
  }

  .home h1 {
    margin-bottom: 20px;
  }
}
