:root {
  --background: rgb(247,252,252);
  --grey: rgb(31,57,59);
  --light-grey: rgb(230,235,235);
  --blue: rgb(177,212,215);
  --dark-blue: rgb(99,182,185);
  --pink: rgb(243,177,169);
}

::-moz-selection {
  background: var(--blue);
}

::selection {
  background: var(--blue);
}

body {
  background-color: var(--background);
  color: var(--grey);
  display: grid;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 25px auto 0 auto;
  width: 600px;
}

/* Header */
header {
  margin-bottom: 50px;
}

header h1 a {
  font-family: 'Roboto', cursive;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  float: left;
}

/* Header nav bar */
nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  float: right;
  padding: 0 4px;
}

nav li a {
  font-size: 16px;
}

nav li a:hover, nav li.active a {
  border-bottom: 4px solid var(--blue);
  line-height: 8px;
  text-decoration: none;
}

/* Main content */
main {
  clear: both;
}

/* Home page */
.home {
  margin: 0 -50px 25px -50px;
  display: flex;
  align-items: center;
}

.home img {
  margin: 0 32px 0 0;
  width: 170px;
  height: 195px;

  object-fit: cover;
  object-position: -100px 0px; 
}

/* Projects list */
.project {
  position: relative;
  color: white;
  width: 100%;
  margin-bottom: 4px;
}

.project .banner {
  width: 100%;
  height: 200px;

  object-fit: cover;
}

.project span {
  color: var(--background);

  position: absolute;
  bottom: 12px;
  left: 10px;

  font-weight: bold;
}

.project span img {
  border-radius: 0;
}

/* Posts list*/
article {
  border-bottom: 1px solid var(--grey);
}

article:last-child {
  border-bottom: none
}

article h1 a:hover {
  text-decoration: underline;
}

.date, time {
  font-size: 14px;
  font-style: italic;
  margin: 0px;
}

article p {
  font-size: 15px;
}

/* Posts */
.post-content a {
  color: var(--dark-blue);
}

/* Inline code blocks */
code.highlighter-rouge {
  background-color: var(--light-grey);
  padding: 0 4px;
}

/* Code blocks */
div.highlighter-rouge {
  background-color: var(--grey);
  color: var(--background);
  margin: 0px;
  padding: 10px 24px;
  border-radius: 8px;
}

h1, h2, h3, .post-meta {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

a {
  color: var(--grey);
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div, small, article, h1, h2, h3, .date, 
nav li {
  display: block;
}

/* Footer */
footer {
  border-top: 1px solid var(--grey);
  padding-top: 8px;
}

footer small {
  margin: 0 auto;
}

img, code.highlighter-rouge {
  border-radius: 8px;
}

/* Mobile */
@media screen and (max-width: 706px) {  
  .container {
    width: 95%;
  }

  .home {
    margin: 18px 0;
    flex-wrap: wrap;
  }

  .icon {
    width: 100%;
  }

  .home img {
    margin: 0 0 12px 0;
    width: 100%;
    height: auto;
    max-height: 225px;
    object-position: 50% 0; 
  }
}
