:root {
	--background: rgb(247,252,252);
  --grey: rgb(31,57,59);
	--blue: rgb(177,212,215);
}

::-moz-selection {
  background: var(--blue);
}

::selection {
  background: var(--blue);
}

body {
  background-color: var(--background);
  color: var(--grey);
  font-family: 'Open Sans', sans-serif;
}

.main {
  margin: 0 auto;
  margin-top: 25px;
  width: 600px;
}

main {
  clear: both;
}

/* Header */
header {
  padding-bottom: 50px;
}

header h1 a {
  font-family: 'Roboto', cursive;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;

  float: left;
}

header h1 a:hover {
  text-decoration: underline;
}

/* Header nav bar */
nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;

  float: right;
  padding: 0 4px;
}

nav li a {
  display:inline-block;
  font-size: 16px;
}

nav li a:hover, nav li.active a {
  border-bottom: 4px solid var(--blue);
  line-height: 8px;
}

/* Home page */
.home {
  margin: 0px -50px;
  display: flex;
  align-items: center;
}

.home h1 {
  font-size: 44px;
  margin: 20px 35px 0 0;
  display: inline-block;

  border-bottom: 8px solid var(--blue);
  line-height: 26px;
}

#first {
  white-space: nowrap;
}

/* Posts list */
.posts h1 {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.posts h1 a {
  font-size: 20px;
  text-decoration: none;
}

.posts h1 a:hover {
  text-decoration: underline;
}

.date {
  font-size: 14px;
  font-style: italic;
  margin: 0px;
}

.content {
  font-size: 15px;
}

a {
  color: var(--grey);
  text-decoration: none;
}

/* Mobile */
@media screen and (max-width: 668px) {  
  .main, #first, #second {
    width: 95%;
  }

  .home {
    margin: 0 0;
  }

  .home {
    flex-wrap: wrap;
  }
}
